*{
    padding: 0;
    margin: 0;
}
.userTable{
    margin-top: 90px;
}
.userTable table{
    margin-left: 14%;
    border: solid 2px #bbb;   
}
.userTable table tr:nth-child(2n+1){
    background-color:#e8e8e8;
}
.userTable tr th,td{
    border: solid 1px #bbb;
}
.userTable table th{
    width: 300px;
    height: 30px;
    background-color: #C8C8C8;
}
.userTable table td{
    width: 300px;
    height: 30px;
    text-align: center;
}